*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ececec;
    font-family:Arial;
}

header{

    height:60px;

    background:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 20px;

    border-bottom:1px solid #ccc;
}

.container{

    display:flex;

    height:calc(100vh - 60px);
}

.sidebar{

    width:280px;

    background:white;

    border-right:1px solid #ccc;

    display:flex;

    flex-direction:column;
}

.timeline-area{

    flex:1;

    overflow:auto;

    padding:30px;
}

.timeline{

    position:relative;

    margin-left:80px;
}

.timeline::before{

    content:"";

    position:absolute;

    left:22px;

    top:0;

    bottom:0;

    width:6px;

    background:black;
}

.timeline-item{

    position:relative;

    display:flex;

    align-items:center;

    margin-bottom:40px;
}

.node{

    width:44px;

    height:44px;

    border-radius:50%;

    z-index:2;

    margin-right:30px;
}

.blue{

    background:#0050ff;
}

.purple{

    background:#b300ff;
}

.plus{

    background:gray;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:36px;
}

.card{

    flex:1;

    background:#77007c;

    color:white;

    padding:20px;

    border-radius:3px;

    font-size:22px;
}